# Hands on Python Syntaxes( 4 July ){Week 1}

In [1]:
# formatting of string

In [2]:
 # Using + sign
# print('object'+ var)

item1= 'guts'
item2='story'
print('no ' + item1 +' no ' + item2)

no guts no story

In [3]:
# Using format method
# print('object{}'.format(var))

print('no {} no {}'.format(item1,item2))

no guts no story

In [4]:
#Using f method
#print(f'object{var} object {var}')

# print(f'no {item1} no {item2}')

In [5]:
# Example ,output will be my earth is so beautyful

planet= "earth"
print("my {} is so beautyful".format(planet))

my earth is so beautyful

In [6]:
planet= "earth"

print(f'my {planet} is so beautyful')

my earth is so beautyful

In [7]:
nameslist=["Tom cruise", "Brad pitt","George cloony "]
for name in nameslist:
    print(name)

Tom cruise
Brad pitt
George cloony

In [8]:
# Let us learn how to ask input from the user 

input()

4

'4'

In [9]:
name = input() # capturing the input in a variable
standard = input()
city= input()

saurabh
B.Sc (maths)
jaunpur

In [10]:
input("what is  your name\n" )

what is  your name
Saurabh Gupta

'Saurabh Gupta'

In [11]:
input('enter name :')

enter name :saurabh

'saurabh'

In [12]:
name = input('enter your name')

enter your namesaurabh

In [13]:
print(name)
print(city)
print(standard)

saurabh
jaunpur
B.Sc (maths)

In [14]:
print(type(name))

<class 'str'>

In [15]:
# Rule 

     # any input taken using input() function is always a STRING.

In [16]:
# lst us learn how to convert string into integer

In [17]:
int("21")

21

In [18]:
#Let us look at the expression of accepting input and converting it to integer

int(input())

4

4

In [19]:
age= int(input())
print(type(age))

21
<class 'int'>

In [20]:
# Let us accept two numbers and print the average
 
num1= int(input('enter first no'))
num2 =int(input('enter second no'))

average = (num1+num2)/2
print(average)

enter first no5
enter second no6
5.5

In [21]:
w= float(input("enter the weight in kg"))
g= w*1000
print(g)

enter the weight in kg5.6
5600.0

In [22]:
print(f' the weight {w} kg = {g} grams')

 the weight 5.6 kg = 5600.0 grams

In [23]:
# Decision Making in Python

age=21

if age>=18:
    print("hey you can vote")
print("hey i m outside if")

hey you can vote
hey i m outside if

In [24]:
age=16

if age>=18:
    print("hey you can vote")
print("hey i m outside if")

hey i m outside if

In [25]:
#    = means assignment of value to a variable 
#      ex- car='ford'

#     car=='ford'# here == means compariring / checking / its a question

SyntaxError: invalid syntax (<ipython-input-25-54a4b9fafb22>, line 1)

In [26]:
# Let us learn using multiple condition in python

rank = 1 

if rank==1:
    print('first devision')

elif rank==2:
    print('second division')

elif rank==3:
    print('third division')
    
else:
    # else executes when all above conditions 
    # are not satisfied (false)
    print('no division')

first devision

In [27]:
rank = 3 

if rank==1:
    print('first devision')

elif rank==2:
    print('second division')

elif rank==3:
    print('third division')
    
else:
    # else executes when all above conditions 
    # are not satisfied (false)
    print('no division')

third division

In [28]:
rank = 5

if rank==1:
    print('first devision')

elif rank==2:
    print('second division')

elif rank==3:
    print('third division')
    
else:
    # else executes when all above conditions 
    # are not satisfied (false)
    print('no division')

no division

In [29]:
cp= float(input('enter cost price'))
sp= float(input('enter selling price'))

if sp>cp:
    print('profit')
    
elif sp==cp:
    print('no profit no loss')
    
else:
    print('loss')

enter cost price 50
enter selling price60
profit

In [30]:
cp= float(input('enter cost price'))
sp= float(input('enter selling price'))

if sp>cp:
    print('profit')
    
elif sp==cp:
    print('no profit no loss')
    
else:
    print('loss')

enter cost price 50
enter selling price 50
no profit no loss

In [31]:
cp= float(input('enter cost price'))
sp= float(input('enter selling price'))

if sp>cp:
    print('profit')
    
elif sp==cp:
    print('no profit no loss')
    
else:
    print('loss')

enter cost price 50
enter selling price 40
loss

In [32]:
# While loop .........

meter = 1 
while(meter<=10):
    print(meter)
    meter=meter+1

1
2
3
4
5
6
7
8
9
10

In [33]:
# FOR LOOP........

for bag in ('bread', 'butter', 'jam' , 'eggs'):
    print(bag)

bread
butter
jam
eggs

In [ ]:
# Range()

# range() is a generator , it generates numbers

# for example 

#range ( limit )
#range(3) output : 0,1,2
# range(4) output : 0,1,2,3

# range always generates number from 0

#it generates numbers till limit-1

In [34]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [35]:
# Learn by observation

for x in range(5,13):   # ( start , end-1 )
    print(x)

5
6
7
8
9
10
11
12

In [36]:
for x in range (1,11,2):   # (start, stop-1, step)
    print(x)

1
3
5
7
9

In [37]:
# write a range expression to generate even numbers from 2 to 19

for x in range (2,19,2):
    print(x)

2
4
6
8
10
12
14
16
18

# Introduction to Python Data Structures (10 JULY) {week-2}

In [ ]:
# Data : How to- 

# Store
# Add/ Insert
# Search
# Delete/ Update
# Scan all the data/ Records ( traversing) {For loop}
# Sort (ascending / discending)

# Data structures ----  # Primitive          Non-Premitive                
                          Integer             List
                          String              Tuple
                          Float               Sets
                          Boolean             Dictionary
        
 # main focus on lists and dictionary

In [ ]:
# Art of string Manipulation

In [38]:
# INDEXING

msg= 'python is cool'
msg[0]

'p'

In [39]:
msg[3]

'h'

In [40]:
msg[-4]

'c'

In [41]:
# SLICING : extracting a portion of a string

msg

'python is cool'

In [ ]:
# slicing grammer (syntax)

# Slicing grammer ( symtax )
# msg[ start : end-1]

In [42]:
msg[0:4]

'pyth'

In [43]:
msg[2:6]

'thon'

In [44]:
msg[:5]  # default start index

'pytho'

In [45]:
msg[1:]  # default end index

'ython is cool'

In [46]:
msg= 'abcdefghijklmnopqrstuvwxyz'

msg[0:26:2]  # [ start , end-1 , step/jump/interval]

'acegikmoqsuwy'

In [47]:
msg[10:0:-1]

'kjihgfedcb'

In [48]:
msg[::-1]

'zyxwvutsrqponmlkjihgfedcba'

In [49]:
msg.upper()

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [50]:
msg.lower()

'abcdefghijklmnopqrstuvwxyz'

In [51]:
msg.index('d')

3

In [52]:
mystr= 'cool'

mystr.index('o')

1

In [53]:
mystr.rindex('o')  # Right index

2

In [54]:
# Exercise 

animal = "crocodile"
# try to fetch roco
animal[1:5]

'roco'

In [55]:
dindex= animal.index('d')
dindex

5

In [56]:
animal[dindex-1:0:-1]

'ocor'

In [57]:
animal[1:dindex]

'roco'

In [58]:
quote = 'heart of gold'
quote[: quote.index(' ')]  # alternative --> quote[:5]

'heart'

In [ ]:
# here i did't specify start index cos i understand / know that
# default is the 0 index so  it starts from letter 'h'
# i preffered to use index() to find the index of first 'space'
# so it will help me find the first word i.e heart.

In [ ]:
# Non Premitive Types!  { list, tuple, set, dictionary}

# LIST data structures

In [ ]:
# list is represented by [] ( square brackets)
 
# list can contain values of any type 

# it is called COMPOUND nature

# list allows duplicates 

# list supports indexing

# string[index] returns character

# list[index] returns element

# list is mutable( changeable )

In [3]:
avengers= ['thor','hulk', 'ironman', 'thanos', 'wonder woman']
print(avengers)

['thor', 'hulk', 'ironman', 'thanos', 'wonder woman']

In [3]:
# let us learn how to access each element 1 by 1
# technically called Traversing

for hero in avengers:
    print(hero)

thor
hulk
ironman
thanos
wonder woman

In [65]:
for hero in avengers:
    print('-->',hero)

--> thor
--> hulk
--> ironman
--> thanos
--> wonder woman

In [66]:
for hero in avengers:
    print('-->',hero, end='')  # to show in single line

--> thor--> hulk--> ironman--> thanos--> wonder woman

In [4]:
# updating the list

avengers[0]

'thor'

In [4]:
avengers[0]= 'god of thunder'
print(avengers)

['god of thunder', 'hulk', 'ironman', 'thanos', 'wonder woman']

In [9]:
# Adding a new element in a list at the end
#  using append

In [5]:
avengers.append('antman')
avengers

['god of thunder', 'hulk', 'ironman', 'thanos', 'wonder woman', 'antman']

In [6]:
avengers.append('loki')
avengers

['god of thunder',
 'hulk',
 'ironman',
 'thanos',
 'wonder woman',
 'antman',
 'loki']

In [ ]:
# Let us addding elements at a desired position using insert()

In [7]:
avengers.insert(2,'panther')
avengers

['god of thunder',
 'hulk',
 'panther',
 'ironman',
 'thanos',
 'wonder woman',
 'antman',
 'loki']

In [ ]:
#  We have a new list here

In [11]:
DC= ['falsh', 'superman','batman','aquaman']
DC

['falsh', 'superman', 'batman', 'aquaman']

In [12]:
# Let us learn how to add a list into  another list using extend

avengers.extend(DC)
avengers

['god of thunder',
 'hulk',
 'panther',
 'ironman',
 'thanos',
 'wonder woman',
 'antman',
 'loki',
 'D',
 'C',
 'falsh',
 'superman',
 'batman',
 'aquaman']

In [ ]:
# Observe the difference between

# append()  eg. avengers.append('you')
# insert()  eg. avengers.insert(2,'you')
# extend()  eg. avengers.extend(['i,'me','myself'])

In [ ]:
# Let us learn how to remove elements

In [13]:
avengers.remove('hulk')
avengers

['god of thunder',
 'panther',
 'ironman',
 'thanos',
 'wonder woman',
 'antman',
 'loki',
 'D',
 'C',
 'falsh',
 'superman',
 'batman',
 'aquaman']

In [16]:
avengers.remove('D')
avengers

['god of thunder',
 'panther',
 'ironman',
 'thanos',
 'wonder woman',
 'antman',
 'loki',
 'C',
 'falsh',
 'superman',
 'batman',
 'aquaman']

In [18]:
avengers.remove('C')
avengers

['god of thunder',
 'panther',
 'ironman',
 'thanos',
 'wonder woman',
 'antman',
 'loki',
 'falsh',
 'superman',
 'batman',
 'aquaman']

In [19]:
# Alternate 

del avengers[5]
avengers

['god of thunder',
 'panther',
 'ironman',
 'thanos',
 'wonder woman',
 'loki',
 'falsh',
 'superman',
 'batman',
 'aquaman']

In [ ]:
# remove required value
# del required index

In [ ]:
# Let us use pop method ,, this method returns and removes
# the last element

In [20]:
avengers

['god of thunder',
 'panther',
 'ironman',
 'thanos',
 'wonder woman',
 'loki',
 'falsh',
 'superman',
 'batman',
 'aquaman']

In [21]:
avengers.pop()

'aquaman'

In [22]:
avengers

['god of thunder',
 'panther',
 'ironman',
 'thanos',
 'wonder woman',
 'loki',
 'falsh',
 'superman',
 'batman']

In [23]:
print(avengers.pop())
print(avengers.pop())

batman
superman

In [24]:
avengers

['god of thunder',
 'panther',
 'ironman',
 'thanos',
 'wonder woman',
 'loki',
 'falsh']

In [25]:
print(avengers)

['god of thunder', 'panther', 'ironman', 'thanos', 'wonder woman', 'loki', 'falsh']

In [ ]:
# Observe the difference between 
# remove(value)  eg. avengers.remove('thanos')
# del(index)     eg. del avengers[-1]
# pop()          eg. avengers.pop()

In [ ]:
# Let us sort the list

In [31]:
avengers.sort()
avengers

['falsh',
 'god of thunder',
 'ironman',
 'loki',
 'panther',
 'thanos',
 'wonder woman']

In [35]:
avengers.sort(reverse=True)
avengers

['wonder woman',
 'thanos',
 'panther',
 'loki',
 'ironman',
 'god of thunder',
 'falsh']

In [32]:
# searching 

'saurabh' in avengers   # in =  membership operator

False

In [33]:
'loki' in avengers

True

# TUPLE

In [ ]:
# tuples represented in () paranthesis

# Tuples are readonly (not mutable)

# No add / update / delete {nothing will happen}

In [ ]:
# Unpacking in Tuple

In [40]:
flavours = ('sweet', 'sour')
flavours

('sweet', 'sour')

In [ ]:
f1,f2= flavours # Unpacking is assignment of tuple values in variable

In [48]:
f1

'sweet'

In [49]:
f2

'sour'

In [52]:
lang= [('en','english'),('fr','french'),('hi','hindi')]

# its a list of tuples

# k , v = ('en','english')  #unpacking

In [53]:
for tup in lang:
    print(tup)

('en', 'english')
('fr', 'french')
('hi', 'hindi')

In [54]:
for tup in lang:
    k,v=tup
    print(k,v)

en english
fr french
hi hindi

In [56]:
for tup in lang:
    k,v=tup
    print(k)

en
fr
hi

In [57]:
for tup in lang:
    k,v=tup
    print(v)

english
french
hindi

# SETS Data Structures

In [ ]:
#  Sets are represented by {} curly brackets

#  Sets are known for storing UNIQUE values.

#  Or sets do not allow duplicates values

#  Sets are case sensitive

#  Sets are unordered 

#  Sets do not work with indexs 

#  Sets in python are same as mathematical sets.

# DICTIONARY Data Structure

In [ ]:
# Dict is also represented by {} curly brackets

# dictionary (key:value)

# grammer  :-   {k:v , k:v , k:v , k:v }

# seperator b/w k and v is : (colon)

# seperator b/w k:v is , (comma)

#

In [90]:
lang={'en':'english','fr':'french','hi':'hindi','es':'spanish'}
 
lang

{'en': 'english', 'fr': 'french', 'hi': 'hindi', 'es': 'spanish'}

In [ ]:
# Let us learn expression to add a new key value pair

In [91]:
lang['tl']='telugu'

print(lang)

{'en': 'english', 'fr': 'french', 'hi': 'hindi', 'es': 'spanish', 'tl': 'telugu'}

In [92]:
lang

{'en': 'english',
 'fr': 'french',
 'hi': 'hindi',
 'es': 'spanish',
 'tl': 'telugu'}

In [76]:
# Let us learn how to access a value using key

lang['hi']

'hindi'

In [77]:
# Let us learn when u provide a key which does't exists

lang['xo']

KeyError: 'xo'

In [93]:
# Introducing get method

lang.get('hi')    # lang['hi']

'hindi'

In [79]:
# Advantage of get method is when we provide a key which is not exists , it will not throw any error

lang.get('xo')  # here i run this code but i can't see the output or any error

In [94]:
# Best part is, if we want to produce a default value then we can produce

lang.get('xo', "key does't exist")

"key does't exist"

In [95]:
lang.get('anykey', 'NA')

'NA'

In [96]:
lang

{'en': 'english',
 'fr': 'french',
 'hi': 'hindi',
 'es': 'spanish',
 'tl': 'telugu'}

In [97]:
# keys method  :   this keys method will help us to fetch only keys from dictionary

lang.keys()

dict_keys(['en', 'fr', 'hi', 'es', 'tl'])

In [98]:
# values method  :   this values method will help us to fetch only values from dictionary

lang.values()

dict_values(['english', 'french', 'hindi', 'spanish', 'telugu'])

In [99]:
for k in lang.keys():   # traversing
    print(k)

en
fr
hi
es
tl

In [100]:
for v in lang.values():  # traversing
    print(v)

english
french
hindi
spanish
telugu

In [101]:
# items method  :  this is used to change the dict into list of tuples

lang.items()

dict_items([('en', 'english'), ('fr', 'french'), ('hi', 'hindi'), ('es', 'spanish'), ('tl', 'telugu')])

In [103]:
for bag in lang.items():  # traversing  # fetching one tuple at a time into bag
    print(bag)            # bag is also a tuple

('en', 'english')
('fr', 'french')
('hi', 'hindi')
('es', 'spanish')
('tl', 'telugu')

In [ ]:
k,v=('en','english')  # this is unpacking

In [104]:
for bag in lang.items():     # fetching onlu key by traversing
    k,v=bag
    print(k)

en
fr
hi
es
tl

In [105]:
for bag in lang.items():   # fetching only values by traversing
    k,v=bag
    print(v)

english
french
hindi
spanish
telugu

In [ ]:
# Python Hands-on exercises

In [ ]:
# Mantra(Concept of Python)

# Converting a String -> List

# Converting a List -> String

In [ ]:
# Sample string

In [107]:
quote =  "Life is short. Smile while you still have teeth."
quote

'Life is short. Smile while you still have teeth.'

In [ ]:
# Split method :   it produces the list

# split method help me to slicing the string into small words into alist form

In [108]:
quote.split(' ')  # seperator b/w words in the string is space (' ')

['Life', 'is', 'short.', 'Smile', 'while', 'you', 'still', 'have', 'teeth.']

In [109]:
# Another Example

people = "ramesh,suresh,mohan"  # this is string
people

'ramesh,suresh,mohan'

In [113]:
people_list= people.split(',')

In [114]:
people_list  # the output is list

['ramesh', 'suresh', 'mohan']

In [115]:
people_list.sort()

In [116]:
people_list

['mohan', 'ramesh', 'suresh']

In [117]:
# join method :  it is used to merge the elements of list

sep= "-"

sep.join(people_list)

'mohan-ramesh-suresh'

In [119]:
sep= " "
sep.join(people_list)

'mohan ramesh suresh'

# TASK : 1

In [123]:
giftbox= ['iph*one',"Car Charger",'i*pad','ford','Pencil','G*old','Paper']

# objective : is to print only those elements containing '*'

In [124]:
giftbox

['iph*one', 'Car Charger', 'i*pad', 'ford', 'Pencil', 'G*old', 'Paper']

In [126]:
# My approach / Instructor(Rajan sir approach)

for i in giftbox:
    if '*'in i:
        print(i)

iph*one
i*pad
G*old

In [128]:
# Alternative approach :1

x=[]
for i in giftbox:
    if "*" in i:
        x.append(i)
print(x)

['iph*one', 'i*pad', 'G*old']

# TASK : 2

In [2]:
tweet = 'i m not #hungry. but i m #bored. therefore i shall #eat'

In [3]:
tweet

'i m not #hungry. but i m #bored. therefore i shall #eat'

In [ ]:
# objective  :  is to extract the hashtags
# expected output :

# hungry
# bored
# eat

In [14]:
# Rajan sir approach

# let us split the string into list

tweet_list = tweet.split()

In [15]:
tweet_list

['i',
 'm',
 'not',
 '#hungry.',
 'but',
 'i',
 'm',
 '#bored.',
 'therefore',
 'i',
 'shall',
 '#eat']

In [16]:
# let us traverse through the list

for words in tweet_list:
        print(words)

i
m
not
#hungry.
but
i
m
#bored.
therefore
i
shall
#eat

In [17]:
# let us add a filter

for words in tweet_list:
    if '#' in words:
        print(words)

#hungry.
#bored.
#eat

In [19]:
# Alternative approach  : 1

for words in tweet_list:
        print(words[0])   # all the hashtags word's first character is "#"

i
m
n
#
b
i
m
#
t
i
s
#

In [24]:
for words in tweet_list:
    
    if words[0]=='#':
        print(words)

#hungry.
#bored.
#eat

In [27]:
#  Alternative : 2

for words in tweet_list:
    if words.startswith('#'):
        print(words)

#hungry.
#bored.
#eat

In [31]:
# if we want to remove the dot . from the output also
for words in tweet_list:
    if words.startswith('#'):
        print(words.strip('.'))      # then we can use strip method  (removing the symbol)

#hungry
#bored
#eat

# TASK : 3

In [32]:
# Introducing a function

# isdigit()

# e.g

'10'.isdigit()

True

In [33]:
'a'.isdigit()

False

In [39]:
# Rajan sir approach

result = 'math = 91 science = 85 english = 78'

# objective :  - is to find the total score i.e 91+ 85 + 78
#              - is to find the average of total score

In [40]:
result

'math = 91 science = 85 english = 78'

In [50]:
# let us split the string into list

result_list = result.split()
result_list

['math', '=', '91', 'science', '=', '85', 'english', '=', '78']

In [53]:
# lets us traverse through list
 
for word in result_list:
    print(word,'----------',word.isdigit())

math ---------- False
= ---------- False
91 ---------- True
science ---------- False
= ---------- False
85 ---------- True
english ---------- False
= ---------- False
78 ---------- True

In [54]:
for word in result_list:
    
    if word.isdigit():
        print(word)

91
85
78

In [56]:
scores_list = []     # i decided to create a new list

In [75]:
for word in result_list:
    
    if word.isdigit()==True:
        
        # i decided whenever the word is found to be digit lets add the word into list
        
        
        # i can observe in scores_list the number are in quotations
        # that means they are strings not integers
        # so math is not possible.

        # so i need to convert the string into integers
        
        
        scores_list.append(int(word))    # converting string into integer

In [78]:
scores_list

[91, 85, 78]

In [79]:
print('total score',sum(scores_list))    # here sum is built in ready made function

# avg is total/no of elements

print('average', sum(scores_list)/len(scores_list))

total score 254
average 84.66666666666667

In [81]:
# Alternate  :  1

result = 'math = 91 science = 85 english = 78'
result = result.split(' ')
sum1=0
cnt=0

for no in result:
    if no.isdigit():
        sum1+=int(no)
        cnt+=1
print(sum1)
avg= sum1/cnt
print(avg)

254
84.66666666666667

In [83]:
# Alternate  :  2

result = 'math = 91 science = 85 english = 78'
result = result.split(' ')
sum1=0
cnt=0

for no in result:
    if no.isdigit():
        sum1+=int(no)
        cnt+=1
        
print( 'Total Score = {} and the Average is {} '.format(sum1,(sum1/cnt)))

Total Score = 254 and the Average is 84.66666666666667

# TASK : 4

In [92]:
my_list= ['hello','welcome',[10,20],['a','b','c',[30,40,50,['findme']]],'60,70']

# Targets : List Indexing

# objective : extract findme ( s a string indexing)

my_list

['hello',
 'welcome',
 [10, 20],
 ['a', 'b', 'c', [30, 40, 50, ['findme']]],
 '60,70']

In [93]:
my_list[3]

['a', 'b', 'c', [30, 40, 50, ['findme']]]

In [95]:
my_list[3][3]

[30, 40, 50, ['findme']]

In [96]:
my_list[3][3][-1]

['findme']

In [97]:
my_list[3][3][-1][0]

'findme'

In [98]:
my_list[3][3][3][0]

'findme'

# TASK : 5

In [99]:
my_dict = {'FL':['Alabama','Florida','Alaska',{'HI':['Hawai','Inception',{'Lock':['find','the','key']}]}]}

# Targets : Dictionary Understanding

# Objective : is to find 'key'

my_dict

{'FL': ['Alabama',
  'Florida',
  'Alaska',
  {'HI': ['Hawai', 'Inception', {'Lock': ['find', 'the', 'key']}]}]}

In [ ]:
# We will use key whenever we will find that it is Dictionary

# We will use index whenever we will find it is a List

In [109]:
my_dict['FL']

['Alabama',
 'Florida',
 'Alaska',
 {'HI': ['Hawai', 'Inception', {'Lock': ['find', 'the', 'key']}]}]

In [105]:
my_dict['FL'][3]

{'HI': ['Hawai', 'Inception', {'Lock': ['find', 'the', 'key']}]}

In [106]:
my_dict['FL'][3]['HI'][2]

{'Lock': ['find', 'the', 'key']}

In [107]:
my_dict['FL'][3]["HI"][2]['Lock'][-1]

'key'

In [108]:
my_dict['FL'][3]["HI"][-1]['Lock'][-1]

'key'

In [112]:
my_dict['FL'][-1]["HI"][-1]['Lock'][-1]

'key'

# TASK : 6

In [ ]:
# Targets : Basic string Manupulation

# Encryption Algorithm By Rajan Sir { as similar to the upGrade coding Question}

- Write a code that encryptes a given input with these steps

Input : 'apple'

Step 1 : Reverse the input : 'elppa'
        
Step 2 : Replace all vowels using the following chart: 
        
        a=>0
        e=>1
        i=>2
        o=>3
        u=>4
        
        '1lppo'
        
Step 3 : add 'aca' to the end of the word : '1lpp0aca'
        
        ------end of exercise 
        
        # sample test cases 
        # input : 'banana' -> '0n0n0baca'
        # input : 'karaca' -> '0c0r0kaca'

In [116]:
msg = 'apple'
msg

'apple'

In [119]:
# Step 1 : reverse the input

rev_msg = msg[::-1]
print(rev_msg)

elppa

In [123]:
#  Step 2 : replace all vowels with corresponding integers

vowels = {'a':'0','e':'1','i':'2','o':'3','u':'4'}

for char in 'aeiou':
    
    rev_msg = rev_msg.replace(char,vowels[char])
    
print(rev_msg)

1lpp0

In [ ]:
# Explanation of this ->      rev_msg = rev_msg.replace(char,vowels[char])

'elppa'.replace( 'a', vowels['a'])

'elppa'.replace('a','0')

'elpp0'

In [124]:
# Step 3 : add 'aca' at the end of the string

print(f'{rev_msg}aca')

1lpp0aca

In [128]:
# Alternate : 1

input1 = 'apple'
str1 = input1[::-1]
str2= str1.replace('a','0').replace('e','1').replace('i','2').replace('o','3').replace('u','4')
str2+='aca'
print(str2)

1lpp0aca

In [133]:
# Alternate : 2

inp="apple"
rev=inp[::-1]

for i in rev:
    if i in 'a':
        rev=rev.replace('a','0')
    elif i in 'e':
        rev=rev.replace('e','1')
    elif i in 'i':
        rev=rev.replace('i','2')
    elif i in '0':
        rev=rev.replace('o','3')
    elif i in "u":
        rev=rev.replace('u','4')
print(rev+'aca')

1lpp0aca

### Week - 3 { Control Structures And Functions In Python } 18 July

### Comprehension

In [ ]:
# Let us begin with comprehension

# Let us solve a problem using standard programming vs comprehensions

# Objective : Find the square of numbers between 1 and 5

In [3]:
# Standard Programming 

sqr_list = []

for x in range (1,6):
    sqr_list.append(x*x)
    
print(sqr_list)

[1, 4, 9, 16, 25]

In [2]:
# Comprehension 

[x*x for x in range(1,6)]

[1, 4, 9, 16, 25]

In [ ]:
# Comprehension are 1 liner expressions.
# Motto : Do more with less lines of code.
# Benefits : increased readability of code and productivity,
# Faster developement , modern approach, modern complexity.

In [ ]:
# Comprehensions are of two types 

   - List Comprehension 
   - Dict Comprehension

In [ ]:
# We will use list comprehension when we want to produce list as an output.
# We will use dict comprehension when we want to produce dict as an output

# Syntax

In [ ]:
# List Comprehension 

[<output_exp> <loop> <condition>]

In [5]:
# Example 

[x for x in range(1,6) if x<5]

[1, 2, 3, 4]

In [6]:
# divided by 2 if returns reminder(%) as zero
# then it is even number 

[x for x in range(1,11) if x%2==0]

[2, 4, 6, 8, 10]

In [7]:
# IF we need to put the else condition then

[ "even" if x%2==0 else "odd" for x in range(1,11)]

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [3]:
colors=['red','green','orange','white','blue']

In [4]:
[c for c in colors]

['red', 'green', 'orange', 'white', 'blue']

In [5]:
[c.lower() for c in colors]

['red', 'green', 'orange', 'white', 'blue']

In [6]:
[c.capitalize() for c in colors]

['Red', 'Green', 'Orange', 'White', 'Blue']

In [7]:
[c[::-1] for c in colors]  # getting reverse of colors

['der', 'neerg', 'egnaro', 'etihw', 'eulb']

In [8]:
[c[0] for c in colors]  # finding first letter of colors

['r', 'g', 'o', 'w', 'b']

In [10]:
colors

['red', 'green', 'orange', 'white', 'blue']

In [11]:
# please add the condition to filter the colors starting with vowel

[c for c in colors if c[0] in "aeiou"]

['orange']

In [16]:
[c for c in colors if c[0]=='aeiou']  # We can't use == because it means the total word aeiou in colors

[]

In [18]:
giftbox=[ 'Acer', 'IPH*ONE','Television','Go*ld','Coffee','Credit*Card','Netflix']

[g for g in giftbox if '*' in g]

['IPH*ONE', 'Go*ld', 'Credit*Card']

In [ ]:
# Dictionary Comprehension

In [19]:
{x:x for x in range(1,6)}

{1: 1, 2: 2, 3: 3, 4: 4, 5: 5}

In [20]:
{x:x*x for x in range (1,6)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [21]:
# Exercise :1

# try to write dict comprehension
# key: weight_pound
# value: weight_kg

weight_nba_players= [195,165,190,185]

{w:w*0.45 for w in weight_nba_players}

{195: 87.75, 165: 74.25, 190: 85.5, 185: 83.25}

In [22]:
# Exercise : 2

# Dict comrehension
# key: item
# Objective : price in INR

grocery_list = {'milk':2.5,'bread':1.8,'honey':3.5}
grocery_list

{'milk': 2.5, 'bread': 1.8, 'honey': 3.5}

In [27]:
# what happens when place a dict in a loop

[key for key in grocery_list]

['milk', 'bread', 'honey']

In [29]:
[grocery_list[key] for key in grocery_list]

[2.5, 1.8, 3.5]

In [31]:
{ key:grocery_list[key]*74.61 for key in grocery_list}

{'milk': 186.525, 'bread': 134.298, 'honey': 261.135}

## Introductory Lambda Expression

In [ ]:
# Lambda Expression are 1 Liner function

# Lambda Expression replace regular python functions

#

In [34]:
# Function are used to distribute the code.
# Functions also promote code reusability
# Functions are defined by using 'def' key word

def sayhello():
    print('good morning')

In [36]:
sayhello()

good morning

In [37]:
# Let us define a function to calculate square of a given number

def getsqr(n):
    return n*n

In [38]:
getsqr(5)

25

In [40]:
# we can re-write the same function using lambda

sqr = lambda n:n*n   # its a formula based expression

In [41]:
sqr(5)

25

In [42]:
cube= lambda n:n**n

In [43]:
cube(3)

27

In [44]:
cal= lambda x,y : x**y

In [45]:
cal(2,3)

8

In [ ]:
# Exercise 
# please use lambda expression
# accept temperature (fahr..) and convert it into celsius

In [50]:
tempconv= lambda fah:(fah-32)*5/9

In [51]:
tempconv(98)

36.666666666666664

## Map , Reduce , Filter

In [ ]:
# these are the standard functions provided to us for processing the data

In [55]:
# SYNTAX : map(functions, data) ( it retrns new data)

#        : filter(data, function) # filter requires function which is boolean
#          in nature ( it returns filtered data as subset)
#          filter returns the element who satisfies the function it does't 
#           return true false

#        : reduce is used for aggregation( max, min, sum)

In [ ]:
# let us learn how to use map
# objective : find the square of no. 1 to 5

In [56]:
# data 
numlist= [1,2,3,4,5]

In [59]:
# function

lambda n : n*n

map( lambda n : n*n , numlist)

In [ ]:
# the response of list comprehension will always be the list
# this is not the case with map 
# map is not limited to the perticular data type

In [61]:
list ( map( lambda n: n*n, numlist))

[1, 4, 9, 16, 25]

In [62]:
tuple ( map ( lambda n:n*n, numlist))

(1, 4, 9, 16, 25)

In [64]:
set ( map ( lambda n: n*n , numlist ))

{1, 4, 9, 16, 25}

In [78]:
# Exercise 

dirtydata= " maths 85 science 76 english 65 hindi 34"

# extract the numbers
# hint : try using comprehension

In [79]:
response=[int(x) for x in dirtydata.split() if x.isdigit()]

In [80]:
response

[85, 76, 65, 34]

In [81]:
# these are the examples only to show what can we do usind these functions 

# using list comprehension
# try to fetch pass and fail if marks>45

['pass' if marks>45 else "fail" for marks in response]

['pass', 'pass', 'pass', 'fail']

In [84]:
#using map function 
# try to fetch the percent of subjects 

list(map(lambda marks: '{} {}'.format((marks),"%"),response))

['85 %', '76 %', '65 %', '34 %']

In [87]:
# Exercise
# using Filter
# objective : to find even numbers 

numlist= [1,2,3,4,5]
(filter(lambda num:num%2==0, numlist))

# similar to map the output of filter is not limited to a perticular data so 
# we use list here.

In [89]:
list(filter(lambda num:num%2==0, numlist))

[2, 4]

In [91]:
garbage = [100,'hello',200,True,False,300,"hi"]

In [93]:
# logic: we will check the type of each element
# if type matches with int we will return the element.

list(filter(lambda item : type(item)==int , garbage))

[100, 200, 300]

In [94]:
giftbox

# extract elements containing * using filter

['Acer', 'IPH*ONE', 'Television', 'Go*ld', 'Coffee', 'Credit*Card', 'Netflix']

In [95]:
list( filter(lambda item : "*" in item, giftbox ))

['IPH*ONE', 'Go*ld', 'Credit*Card']

In [ ]:
# Reduce 

# objective : find the sum of given numbers using reduce

In [96]:
numlist

[1, 2, 3, 4, 5]

In [97]:
from functools import reduce

In [98]:
reduce(lambda x,y :x+y , numlist)

15

In [100]:
# y represents the elements of your list!

# x   y 
# 1   2
# 3   3
# 6   4
# 10  5
# 15
# returns x i.e 15

####

In [101]:
# another approach with the regular function

def getsum(x,y):
    print(f'x{x} y {y}')
    return(x+y)

In [103]:
getsum(1,5)

x1 y 5

6

In [104]:
reduce(getsum,numlist)

x1 y 2
x3 y 3
x6 y 4
x10 y 5

15

In [3]:
import jovian
jovian.commit()

ModuleNotFoundError: No module named 'jovian'